:root {

  --body-bg-color: #110032;
  --primary-color: #241442;
  --primary-shadow: rgb(0 0 0 / 0.25);
  --secondary-color: #7400e4;
  --accent-color: #7400e4;
  --cta-color: #a200d4;
  --cta-color-hover: #8502ad;
  --text-color: #fff;
}

/* Variables SASS */